@media only screen and (max-width: 1080px) {
  body{
    width: 111vw;
    height: 100%;
  }
  *{
    padding: 0;
    margin: 0;
  }
  .navigation {
    /* background: black; */
    /* color: white; */
  }
  .left h1{
    text-align: right;
  }
  .left{
    position: absolute;
    left: -22px;
    width: 100%;
    top: 22px;
    margin: auto;
}
.right {   
  position: absolute;
  top: 152px;
  width: 100%;
  text-align: center;
  justify-content: center;  
  align-items: center;
  right: 0;
}
.center {
    text-align: center;
    width: 100%;
}
.center {
  position: unset;
}
  .blog-one {
    display: block;
    text-align: center;
  }
  .para {
    padding: 0 33px;
  }
  .inages {
    /* text-align: center; */
  }
  .bottom-end img {
    height: 366px;
    width: 75%;
  }
  footer {
    height: 110px;
    width: 100%;
  }
  .blog-one img {
    width: 253px;
    padding: 16px 0 0 112px;
    margin: 0 0 0 -49px;
  }

  .hamburger {
    position: absolute;
    left: 20px;
    top: 20px;
    border: 1px solid grey;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30px;
    text-align: center;
    z-index: 11111;
  }
  .lines {
    margin: 2px 0;
    background-color: black;
    width: 20px;
    height: 3px;
  }

  .h-nav-resp {
    height: 240px;
  }
  .v-inp-resp {
    opacity: 0;
    display: none;
  }
  .v-class-resp {
    opacity: 0;
    display: none;
  }
  .imagesback img{
    padding: 90px 28px;
  }
}
