*{
    margin: 0;
    padding: 0;
}
/* Blog 1 */
.image img{
    width: 15vw;
    float: left;
    display: flex;
}
.content-inner{
    display: flex!important;
}
.card-featured{
    background-color: #3498db!important;
}

/* alert Style */
.alert{
    position: fixed!important;
    width: 100%!important;
    z-index: 1111111;
}
.alert-background{
    background-color: #f8d7da!important;
    border: 2px solid #f5c6cb!important;
    color: #721c24;
}